html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background-color: $green;
    color: $white;
}

body{
    color: $white;
    background-color: $bg;
    font-size: 15px;
}

ul,a,li {
    list-style-type: none;
    text-decoration: none;
    color: $white;
    padding: 0;
    margin: 0;
}

.container{
    padding: 0 64px;
}

.btn {
    background-color: transparent;
    color: $white;
    font-size: 15px;
    border: 1px solid $white;
    padding: 7px 28px;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover{
    background-color: #fff;
    color: $bg;
}

.title{
    font-size: 44px;
    line-height: 53px;
    padding-top: 150px;
}

h3,p{
    margin: 0;
}

.page-section{
    background-image: url(../images/bg2.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}