.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}
.navbar-logo {
}
.navbar-title {
}
.navbar-menu {
    display: flex;
}
.navbar-menu__item {
    padding-right: 20px;

}
.navbar-num {
}
.navbar-btn {
}
.btn {
}